*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*obj_*
.waf*
.lock-waf*
__pycache__
*.pyc
.vs/
Debug/
Debug_*/
Release/
Release_*/
*.tlog/
*.obj
*.pch
*.log
*.idb
*.pdb
*.rc
*.bin
*.vcxproj*
*.sln
*.dll*
*.exp
*.ilk
ValveETWProviderEvents.h
game/client/*/client.lib
game/server/*/server.lib
.DS_Store
build*/
.cache/
.ccache/
waf3*/
.vscode/
.depproj/
source-engine.sln
.gradle/
.cpl/

# temporary submodule metadata (do not commit)
.git.disabled
**/.git.disabled/

# Android APK build
android/csgo-launcher/jniLibs/
android/csgo-launcher/local.properties
android/csgo-launcher/build/
android/csgo-launcher/app/build/
android/csgo-launcher/.gradle/
